<h2>Project Brief</h2>
You work for Spark Funds, an asset management company. Spark Funds wants to make investments in a few companies. The CEO of Spark Funds wants to understand the global trends in investments so that she can take the investment decisions effectively.

<h2>Business and Data Understanding</h2>
Spark Funds has two minor constraints for investments:
It wants to invest between 5 to 15 million USD per round of investment

It wants to invest only in English-speaking countries because of the ease of communication with the companies it would invest in

For your analysis, consider a country to be English speaking only if English is one of the official languages in that country

You may use this link: :- https://en.wikipedia.org/wiki/List_of_territorial_entities_where_English_is_an_official_language for a list of countries where English is an official language.

These conditions will give you sufficient information for your initial analysis. Before getting to specific questions, letâ€™s understand the problem and the data first.

In [1]:
#importing libraries

import numpy as np
import pandas as pd

In [2]:
#read the dataset
dataset = pd.read_csv("companies.txt",sep="\t",encoding="unicode_escape")
dataset.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [3]:
dataset.shape

(66368, 10)

In [14]:
import codecs
mappin = codecs.open("mapping.csv",encoding='utf-8', errors='ignore')
mapping = pd.read_csv(mappin)

In [15]:
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [16]:
mapping.shape

(688, 10)

<h2>Data handling and cleaning</h2>

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   name           66367 non-null  object
 2   homepage_url   61310 non-null  object
 3   category_list  63220 non-null  object
 4   status         66368 non-null  object
 5   country_code   59410 non-null  object
 6   state_code     57821 non-null  object
 7   region         58338 non-null  object
 8   city           58340 non-null  object
 9   founded_at     51147 non-null  object
dtypes: object(10)
memory usage: 5.1+ MB

In [17]:
mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688 entries, 0 to 687
Data columns (total 10 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   category_list                            687 non-null    object
 1   Automotive & Sports                      688 non-null    int64
 2   Blanks                                   688 non-null    int64
 3   Cleantech / Semiconductors               688 non-null    int64
 4   Entertainment                            688 non-null    int64
 5   Health                                   688 non-null    int64
 6   Manufacturing                            688 non-null    int64
 7   News, Search and Messaging               688 non-null    int64
 8   Others                                   688 non-null    int64
 9   Social, Finance, Analytics, Advertising  688 non-null    int64
dtypes: int64(9), object(1)
memory usage: 53.9+ KB

<h3>Missing values Treatment</h3>

In [6]:
dataset.isnull().sum()

permalink            0
name                 1
homepage_url      5058
category_list     3148
status               0
country_code      6958
state_code        8547
region            8030
city              8028
founded_at       15221
dtype: int64

In [18]:
mapping.isnull().sum()

category_list                              1
Automotive & Sports                        0
Blanks                                     0
Cleantech / Semiconductors                 0
Entertainment                              0
Health                                     0
Manufacturing                              0
News, Search and Messaging                 0
Others                                     0
Social, Finance, Analytics, Advertising    0
dtype: int64